.flashSaleTime h1 {
    font-size: 16px;
    color: red;
    font-weight: bold;
}

.flashSaleTime span {
    font-size: 10px;
    font-weight: bold;
}


.flashSaleCard{
    @apply  md:w-[220px] sm:w-[232px] w-[180px]  h-[344px] border shadow-md rounded-lg mb-2 mx-2 flex flex-col items-center
}

.flashSaleName {
    @apply text-lg font-normal text-left mx-4 sm:mt-6 mt-4 sm:hover:text-red-600;
}
